/*
 * Home styles
*/

.grid-15 {
	margin-right: -15px;
	margin-left: -15px;
}

.grid-50 {
	margin-right: -50px;
	margin-left: -50px;
}

.home-logo {
	height: 100px;
}

@media screen and (max-width: $medium) {
	.home-logo {
		height: 80px;
	}
}

.location-windows {
	.window-wrap {
		height: 150px;
		width: 150px;
		margin: 0 auto;
	}
	.image-wrap {
		position: relative;
		img {
			border-radius: 50%;
			border: solid 3px white;
			animation: hero-pulse .3s 2s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
		}
		&::after {
			content: '';
			height: 100%;
			width: 100%;
			position: absolute;
			background: $white;
			top: 0;
			left: 0;
			border-radius: 50%;
			animation: hero-pulse-inner 1s 2s ease forwards;
		}
	}
	.location-title {
		position: absolute;
		top: -70px;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
	}
	.location-image {
		transition: all .3s ease;
		width: 150px;
		height: 150px;
		&.larger {
			height: 200px;
			width: 200px;
		}
		// &:hover {
		// 	transform: scale(1.2);
		// }
	}
	.connector {
		z-index: 1;
		position: absolute;
		width: calc(100% - 300px);
		height: 3px;
		background-color: transparent;
		top: 50%;
		left: 150px;
		transform: translateY(-50%);

		&::before {
			content: '';
			position: absolute;
			height: 100%;
			width: 0%;
			background: $white;
			left: 50%;
			top: 0;
			transition: all .3s ease;
			transform: rotate(180deg);
			transform-origin: left;
			animation: hero-connector .5s linear forwards;
		}
		&::after {
			content: '';
			position: absolute;
			height: 100%;
			width: 50%;
			background: $white;
			left: 50%;
			top: 0;
			transition: all .3s ease;
			animation: hero-connector .5s linear forwards;
		}
	}

	.location-window {
		position: relative;
		transform: scale(0);
		z-index: 10;
	}

	// Set the animations for each window commented in order

	// 2
	.location-window-1 {
		animation: hero-window .5s 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
	}
	// 1
	.location-window-2 {
		animation: hero-window .5s .5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
	}
	// 3
	.location-window-3 {
		animation: hero-window .5s 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
	}
}

@media screen and (max-width: $medium) {
	.location-windows {
		.location-title {
			position: relative;
			top: 0;
			left: 0;
			transform: translate(0);
			margin-bottom: 20px;
		}
		.location-image {
			margin: 0 auto;
			border: solid 2px $white;
			border-radius: 50%;
		}
	}
}
@media screen and (max-width: $small){
	.location-windows {
		.location-image {
			&.larger {
				height: 100px;
				width: 100px;
			}
		}
	}
}

.us-listing-image {
	height: 350px;
}

.service-icon {
	width: 50px;
	margin-right: 30px;
}

.anchor {
	visibility: hidden;
	position: absolute;
	top: -150px;
}

.single-partner {
	img {
		max-height: 120px;
		max-width: 120px;
	}
}
