<div class="video-wrap my-60 md:my-30">
    <iframe id="ytplayer" type="text/html" width="500" height="281.25"
    src="https://www.youtube.com/embed/{{ row.video_embed }}?modestbranding=1&playsinline=1&rel=0&color=white"
    frameborder="0" allowfullscreen></iframe>
</div>
