// Incredibly useful for WYSIWYG editors, be it TimyMCE or not, the below saves loads of formatting time!
.wysiwyg {
	-webkit-font-smoothing: antialiased;
	p {
		padding-bottom: 20px;
		a {
			word-wrap: break-word;
			color: $orange;
		}
	}
	h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
		margin-bottom: 20px;
	}
	img {
		width: auto;
		margin-bottom: 20px;
	}
	ul, ol {
		margin: 0px 35px 40px 35px;
   		list-style-position: inside;
	    text-indent: -1em;
	    padding-left: 1em;
	}
	ul {
		li {
			list-style: disc;
			list-style-position: inside;
		}
	}
	ol {
		li {
			list-style: decimal;
			list-style-position: inside;
		}
	}
	// specific to the media wrap & iframes, but useful non the less.
	.media-wrap, iframe {
		margin-bottom: 20px;
	}

	&.us-content {
		h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
			color: $blue;
		}
	}

	table {

		margin: 10px 0 20px;

		p {
			padding: 0;
		}
		td,
		th {
			padding: 2px 5px;
			border: solid 1px $grey;
		}
		th {
			font-weight: bold;
		}
	}
}

@media screen and (max-width: $medium) {
	.wysiwyg {
		img {
			padding: 20px 0;
		}
		p {
			padding-bottom: 20px;
		}
	}
}
